<h1>Content Library</h1>
<% form_for @block, :html => { :class => "ajax" } do |f| %>

<%= render :partial => 'contents', :locals => { :f => f } %>

<%= will_paginate @contents %>
<%= f.submit "Add to Block" %>
<% end %>
