<h1>New content (<%= Object::const_get(@content_controller.classify).display_name %>)</h1>

<% form_for([@block,@content], :html => { :class => "ajax" }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>