<h1>New feed</h1>

<% form_for(@feed, :html => { :class => "ajax" }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>

	<p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', feeds_path %>