<h1>New blog</h1>

<% form_for(@blog, :html => { :class => "ajax" }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', blogs_path %>