<h1>Image Manager</h1>
<div class="modal-tabs">
	<ul>
		<li><span><%= link_to "Insert", insert_image_files_path %></span></li>
		<li><span><%= link_to "Upload an Image", new_image_file_path %></span></li>
		<li><span><%= link_to "Choose Existing Image", image_files_path %></span></li>
	</ul>
</div>