<h1>Listing quote_lists</h1>

<table>
  <tr>
  </tr>

<% @quote_lists.each do |quote_list| %>
  <tr>
    <td><%= link_to 'Show', quote_list %></td>
    <td><%= link_to 'Edit', edit_quote_list_path(quote_list) %></td>
    <td><%= link_to 'Destroy', quote_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quote_list', new_quote_list_path %>