  <p>
    <%= form.label :name, "Name (omit leading underscore):" %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :controller %><br />
    <%= form.text_field :controller %>
  </p>