/**********************
**
** COMMAND C design
** info at commandc dot com
**
***********************/

/*****************
* General
******************/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
img {
	border: 0;
	vertical-align: middle;
}
iframe {
	display: none;
}
.hidden {
	display: none;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

div.content, div.block {
	position: relative;
	border: 2px solid transparent;
}

div.scroll-buttons {
	width: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
}
div.scroll-buttons img {
	cursor: pointer;
	margin-top: 5px;
}


/*****************
* Layout
******************/
body {
	position: relative;
	text-align: center;
}

div#container {
	padding: 15px;
	text-align: left;
	width: 870px;
	margin: 0 auto;
}
div#content {
	position: relative;
}

/*****************
* Typography
******************/
body {
	font-size: 75%;
	font-family: helvetica, arial, sans-serif;
}

/*****************
* Font Size Switcher
******************/
#font-size-switcher {
	float: right;
}
.small {
	font-size: 0.75em;
}
.medium {
	font-size: 1em;
}
.large {
	font-size: 1.25em;
}

/*****************
* Admin
******************/
div#admin-toolbar-container {
	position: fixed;
	z-index: 999;
	width: 150px;
	top: 0;
	left: 0;
	background: #fff;
	border: 1px solid #333;
	text-align: left;
	padding: 10px;
}
div#admin-toolbar-container .admin_drag_handle {
	position: absolute;
	top: 3px;
	right: 3px;
}
ul#page-admin-menu {
	padding: 0;
	margin: 0;
}
ul#page-admin-menu li {
	list-style: none;
	padding-left: 5px;
	margin: 10px 0;
}
ul#page-admin-menu li img {
	margin-right: 3px;
}

ul.list li {
	position: relative;
}

div.menu_item_admin_controls {
	position: absolute;
	width: 75px;
	height: 16px;
	left: -80px;
	top: -2px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 1px;
}

.admin-links {
	position: absolute;
	top: -24px;
	left: -2px;
	height: 16px;
	padding: 2px;
	color: white;
	font-size: 12px !important;
}
.admin-links a {
	color: white;
}
.page .admin-links {
	background: #999;
	border: 2px solid #999;
}
.block .admin-links {
	background: #333;
	border: 2px solid #333;
}
.content .admin-links {
	background: #666;
	border: 2px solid #666;
}
.active-admin {
	border: 2px solid #999;
}
.page .active-admin {
	border: 2px solid #333;
}
.block .active-admin {
	border: 2px solid #666;
}

/*****************
* Modal Window
******************/
#modal h1,
#modal2 h1 {
	padding-top: 10px;
}

#modal textarea {
	width: 550px;
}

/*****************
* Tabs
******************/

.ui-tabs .ui-tabs-hide {
     display: none;
}

/*****************
* Image Manager
******************/
#insert_code_container {
	padding: 25px;
	background: #ccc;
	border: 1px solid #999;
}
.image_file {
	padding: 5px;
	border: 1px solid transparent;
}
.image_file_over {
	border: 1px solid #ccc;
	background: #c0c0c0;
}

/*****************
* Text formats
******************/
.clear-left {
	clear: left;
}
.indent {
	padding-left: 15px;
}
.indent10 {
	padding-left: 10px;
}
.left {
	text-align: left;
}
.hidden {
	display: none;
}
.bold {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.italic {
	font-style: italic;
}
.serif {
	font-family: "Times New Roman", Times, serif;
}
.sans {
	font-family: Arial, Helvetica, sans-serif;
}
.nowrap {
	white-space: nowrap;
}
.upper {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.stretch {
	letter-spacing: 2px;
}
.line-below {
	margin-bottom: 10px;
}
.line-above {
	margin-top: 10px;
}

/*****************
* Automatic Scrolling Test
******************/

.autoscroll .scroll-pane {
	height: 200px;
	padding-top: 20px;
	overflow: hidden;
}