img {behavior: url(/javascripts/iepngfix.htc);}
div#content {
	min-height: 350px;
	height: auto !important;
	height: 350px;
}
.clearfix {
  height: 1%;
  overflow: visible;
}
div.content, div.block {
	border: 2px solid white;
}
.scroll-content div {
	position: static;
}