<h1>Listing SEO Profiles</h1>
<table id="seo-profile-list">
<% for seo_profile in @seo_profiles %>
	<%= render :partial => 'seo_profile', :locals => { :seo_profile => seo_profile } %>
<% end %>
</table>

<%= image_tag("add.png", :size => "16x16", :alt => "New SEO Profile") %>
<%= link_to 'New SEO Profile', new_seo_profile_path(:section_id => @section, :page_id => @page), :class => "modal-new-window append_seo-profile-list" %>
