<h1>Listing SEO Profiles</h1>
<ul id="seo-profile-list">
<% for seo_profile in @seo_profiles %>
	<%= render :partial => 'seo_profile', :locals => { :seo_profile => seo_profile } %>
<% end %>
</ul>

<%= link_to 'New SEO Profile', new_seo_profile_path, :class => "modal-new-window append_seo-profile-list" %>
