<h1>Edit Account</h1>
 
<% form_for @user, :html => { :class => ((params[:edit_self] == "true" || @user.edit_self == "true") ? "ajax" : "ajax modal2") } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>
 
<br /><%= link_to "My Profile", account_path %>