<h1>Register</h1>
 
<% form_for @user, :url => account_path, :html => { :class => ((params[:edit_self] == "true" || @user.edit_self == "true") ? "ajax" : "ajax modal2") } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Register" %>
<% end %>