<div id="font-size-switcher">
	Text Size 
	<%= link_to "A", {}, :id => "small", :class => "small" %>
	<%= link_to "A", {}, :id => "medium", :class => "medium" %>
	<%= link_to "A", {}, :id => "large", :class => "large" %>
</div>