<div id="header" class="clearfix">
	<%= render :partial => "common/logo" %>
	<%= render :partial => "common/google_search" %>
	<%= render :partial => "common/font_size_switcher" %>
	<%= render :partial => "common/main_menu" %>
</div><!-- end 'header' -->