<div id="navigation">
	<ul id="mainmenu">
		<%= render :partial => "common/menu_item", :collection => get_menu_sections, :as => :item, :locals => { :show_pages => false, :is_page => false, :show_all_pages => false } %>
	</ul>
</div><!-- end 'navigation' -->