<div id="navigation">
	<ul id="mainmenu">
		<%= render :partial => "common/main_menu_item", :collection => get_menu_sections, :as => :item, :locals => { :page => false } %>
	</ul>
</div><!-- end 'navigation' -->