<div class="scroll-buttons" style="display: none;">
	<%= image_tag "scroll_up.png", :size => "12x9", :alt => "Scroll Up", :class => "scroll-up" %>
	<%= image_tag "scroll_down.png", :size => "12x9", :alt => "Scroll Up", :class => "scroll-down" %>
</div>